.hccf-hero-card {
	&:after {
	  height: 59px;
	  width: 13px; 
	  content: "";
	  background: url('../images/expand-show-more.png') no-repeat;
	  background-size: 14px 9px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    background-position: center;  
	} 

	&.open {
	  &:after {        
	    background: url('../images/expand-show-less.png') no-repeat;	
      background-size: 14px 9px;  
      position: absolute;
      top: 0;
      bottom: 0;
      right: 15px;
      background-position: center;
	  }
	}
}

.section_content {
	display: none;
	max-height: 0;
	opacity: 0;

	&.open {
	  display: block;
	  max-height: 500px;
	  opacity: 1;
	}
}  

