/*
 * Copyright (c) 2018 VMware, Inc. All rights reserved.
 *
 * This product is protected by copyright and intellectual property laws in
 * the United States and other countries as well as by international treaties.
 *
 * VMware products may be covered by one or more patents listed at
 * http://www.vmware.com/go/patents.
 */

@import '~bootstrap/scss/bootstrap';
@import './accordion.scss';

.margin10px {
	margin: 10px 10px;
}

.img-wrapper {
	text-align: center;
	margin: auto;
}

.hccf-row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

.hccf-hero-cards-holder {
  margin: 1px 7px 15px;
  font-size: 14px;
  line-height: 1.5;
  font-family: -apple-system,BlinkMacSystemFont,Roboto,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.22);
  border-radius: 8px;
}

.hccf-hero-cards-holder * {
    box-sizing: border-box;
}

/* card styles */
.hccf-hero-card {
  height: auto;
  padding: 0;
  color: #414B57;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(234, 235, 236);
  overflow: hidden;
}

.hccf-hero-card--hidden {
  display: none !important;
}

.hccf-hero-card:first-child {
  border-top-left-radius:8px;
  border-top-right-radius:8px;
}

.hccf-hero-card:last-child {
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
}

.hccf-card-header__wrapper{
  display: table;
  table-layout: fixed;
}

.hccf-card-header__avatar {
  display: table-cell;
  width: 40px;
  height: 40px;
}

.hccf-card-header__avatar::after {
  content: "";
  clear: both;
  display: table;
}

.hccf-card-header__avatar div {
  margin: 0 auto;
  max-width: 40px;
  max-height: 40px;

}

.hccf-card-header__avatar img {
  width: 100%;
  max-width: 40px;
  height: auto;
}

.hccf-card-header .hccf-card-header__meta {
  text-align: left;
  margin-left: 50px;
  min-height: 40px;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.hccf-card-header__meta div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 30px;
}

.hccf-hero-cards-holder:not(.hccf-hero-cards-accordian) .hccf-card-header__meta div.hccf-card-header__meta-title,
.hccf-accordian-expanded .hccf-card-header__meta div.hccf-card-header__meta-title {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  display: -moz-box;
  display: -webkit-box;
  display: box;
}
 
.hccf-card-header__meta-title {
  font-size: 1.6rem;
  line-height: 1.4;
  color: #000;
  font-weight: 600;
}

.hccf-card-header__meta-subtitle {
  font-size: 1.4rem;
  line-height: 1.5;
  color: #157DB9;
}

.hccf-card-body {
  padding: 5px;
  font-size: 1.3rem;
  line-height: 1.5;
}

.hccf-card-actions {
    padding: 0 15px 15px;
}

.hccf-card-action-form {
  margin-bottom: 0;
}

.hccf-form-field {
  margin-bottom: 10px;
}

/*.hccf-form-field--required > label::after {
  content: '*';
  color: #ff0000;
}*/

.hccf-form-field > label {
  font-size: 82%;
  color: #6C747D;
  display: inline-block;
  width: 25%;
  max-width: 120px;
  text-align: left;
  margin-right: 4px;
  vertical-align: text-top;
}

.hccf-form-field > span,
.hccf-form-field__validation-message {
  font-size: 82%;
  position: relative;
}

.hccf-form-field > span > label {
  vertical-align: middle;
}

.hccf-form-field__validation-message {
  display: none;
  text-align: left;
}

.hccf-form-field__validation-message::before {
    content: ' ';
    display: inline-block;
    width: 25%;
    max-width: 120px;
}

.hccf-form-field__validation-message > span {
    padding-left: 4px;
    color: #d72e2e;
}

.hccf-form-field > span > input.hccf-form-field__validation-error {
    border: 1px solid #d72e2e !important;
}

.hccf-form-field > span.hccf-form-field__validation-error-dot::before {
    position: absolute;
    content: '';
    background-color: #d72e2e;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    top: 3px;
    right: 20px;
}

.hccf-form-field.hccf-form-field--textarea > span.hccf-form-field__validation-error-dot::before {
  top: -30px;
}

.hccf-form-field--textarea > label,
.hccf-form-field--radio > label,
.hccf-form-field--checkbox > label {
  vertical-align: top;
}

.hccf-form-field--radio > span,
.hccf-form-field--checkbox > span {
  display: inline-block;
}

.hccf-form-field--radio > span > label > input[type="radio"],
.hccf-form-field--checkbox > span > label > input[type="checkbox"] {
  margin-left: 0;
  vertical-align:top;
}

.hccf-form-field--select > span > select {
    width: 73%;
    color: #414b57;
    padding: 10px;
    border: 1px solid #EAEBEC;
    line-height: 2.2;
}

.hccf-form-field > span > input[type="range"] {
    width: 67%;
}

.hccf-form-field > span > input[type="text"],
.hccf-form-field > span > input[type="textarea"],
.hccf-form-field > span > input[type="number"],
.hccf-form-field > span > input[type="email"],
.hccf-form-field > span > input[type="date"],
.hccf-form-field > span > input[type="tel"],
.hccf-form-field > span > input[type="undefined"]
 {
    width: 73%;
    background: transparent;
    color: #515A64;
    outline: none;
    padding: 0 10px;
    border-radius: 2px;
    -webkit-appearance: none;
    -webkit-border-radius:2px;
    border: 1px solid #D7D7D7;
    margin-left: 0;
    height: 34px;
    font-size: 117%;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,sans-serif;
}

.hccf-form-field--range__min {
    position: absolute;
    left: 0;
    top: 3px;
}

.hccf-form-field--range__max {
    position: absolute;
    right: 0;
    top: 3px;
}

.hccf-form-field--textarea textarea {
  width: 73%;
  min-height: 75px;
  resize: none;
  font-family: inherit;
  color: #414b57;
  border: 1px solid #EAEBEC;
  border-radius: 3px;
  outline: none;
}

.hccf-card-actions__item {
  text-align: center;
  height: 45px;
  display: inline-block;
  float: right;
  padding-left: 5px;
  margin-top: 10px;
}

.hccf-card-actions__item--primary {
  float: right;
}

.hccf-card-actions__item--hidden,
.hccf-card-actions__item-link--hidden {
  display: none !important;
}

.hccf-card-actions__item--fullwidth {
  width: 100% !important;
  padding-left: 0;
}

.hccf-card-actions__add-input-single,
.hccf-card-actions__add-input-multiple
{
  padding: 0;
  display: none;
}

.hccf-card-actions__add-input-single .hccf-form-field--textarea
{
  margin: 0 -15px 0 -20px;
}

.hccf-card-actions__add-input-single .hccf-form-field--textarea > label
{
  display: none;
}

.hccf-card-actions__add-input-single .hccf-form-field--textarea > .hccf-form-field__validation-message::before
{
  display: none;
}

.hccf-card-actions__add-input-single .hccf-form-field--textarea > .hccf-form-field__validation-message span
{
  margin-left: 0;
  padding-left: 0;
}

.hccf-card-actions__add-input-single .hccf-form-field--textarea > .hccf-form-field__validation-error-dot::before
{
    display: none;
}
.hccf-card-actions__add-input-single .hccf-form-field--textarea .hccf-form-field__validation-error {
    border-top: 1px solid #d72e2e;
    border-bottom: 1px solid #d72e2e;
}

.hccf-card-actions__add-input-single textarea
{
  width: 100%;
  min-height: 40px;
  border-right: none;
  border-left: none;
  border-radius: 0;
  padding: 10px;
}

.hccf-card-actions__item-link {
  font-size: 1.4rem;
  line-height: 1.2;
  background: none;
  color: #696969;
  padding: 10px 15px;
  display: block;
  text-decoration: none;
  position: relative;
  transition: background 2s linear;
  border-radius: 4px;
  border: 1px solid #62717D;
}

.hccf-card-actions__item-link--complete::before {
  content: " ";
  clear: both;
  display: block;
  position: absolute;
  background: rgba(231, 231, 231, 0.3);
  cursor: not-allowed;
  left: -1px;
  right: -1px;
  top: -1px;
  bottom: -1px;
}

.hccf-card-actions__add-input-single .hccf-card-actions__item-link,
.hccf-card-actions__add-input-multiple .hccf-card-actions__item-link
{
  color: #697886;
}

.hccf-card-actions__add-input-multiple
{
  text-align: left;
}

.hccf-card-actions__item .hccf-card-actions__item-link--disabled {
  opacity: 0.5;
}

.hccf-card-actions__item .hccf-card-actions__item-link__mutex-action-complete {
  opacity: 0.5;
  background: transparent;
  color: #414b57;
  border: 1px solid #62717d;
}

.hccf-card-actions__item-link {
  color: #414b57;
}

.hccf-js-input-button-cancel
{
  float: left;
  color: #696969 !important;
  margin-top: 10px;
}

.hccf-card-actions__message-container {
  padding: 15px 0;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
}

.hccf-card-actions__message-container > div {
  display: table;
  width: 100%;
}

.hccf-card-actions__message-container > div > span {
  display: table-cell;
  vertical-align: middle;
}

.hccf-card-actions__message-container > div > span:first-child {
  text-align: left;
  text-transform: uppercase;
}

.hccf-card-actions__message-container > div > span:last-child {
  text-align: right;
  float: right
}

.hccf-card-actions__message-container > div > span:last-child a {
  color: #fff;
  text-decoration: none;
}

.hccf-card-actions__message-container  .hccf-card-actions__message-container__message img {
  padding-right: 10px;
  vertical-align: text-top;
}


/* END - card styles */

/* relative font-sizes */
.hccf-card-header__meta {
  padding-left: 10px;
}

.hccf-card-header__meta-title {
    font-size: 110%;
    line-height: 1.3;
}

.hccf-card-header__meta-subtitle {
    font-size: 90%;
    line-height: 1.45;
    color: #565656;
}

.hccf-card-body {
    font-size: 85%;
    line-height: 2;
}

.hccf-card-body--hidden {
  display: none !important;
} 

.hccf-card-body__field {
  padding: 0;
  font-size: 96%;
  line-height: 1.5;
}

.hccf-card-body__field-title,
.hccf-card-body__field-description {
  padding: 0 10px;
  text-align: left;
}

.hccf-card-body__field-title {
    color: #565656;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hccf-card-body__field-description {
  color: #000;
  font-weight: 600;
  font-size: 107%;
  -webkit-line-clamp:2;
  -webkit-box-orient:vertical;
  overflow:hidden;
  display:-webkit-box;
}

.hccf-card-body__field--hidden {
  display: none;
}

.hccf-card-body__field--visible {
  display: block !important;
}

.hccf-card-body__field--clutter {
  margin-top: 15px;
}

.hccf-card-body__view-details {
  color: #6C747D;
  text-align: right;
  padding-right: 10px;
}

.hccf-card-body__view-details a {
  text-decoration: none;
  color: #6C747D;
}

.hccf-card-body__view-details a img {
  margin-left: 5px;
}

.hccf-card-body__attachments {
  text-align: left;
  letter-spacing: -0.34px;
  font-weight: 600;
  border-top: 1px solid #eaebec;
  border-bottom: 1px solid #eaebec;
}

.hccf-card-body__attachments p {
  margin: 0;
}

.hccf-card-body__attachments p a {
  color: #414b57;
  text-decoration: none;
}

.hccf-card-body__timestamp {
  font-size: 92%;
  text-align: left;
  color: #9da2a8;
  padding-top: 0;
}

.hccf-card-body__field-description--truncated,
.hccf-card-body__comments-body {
  line-height: 1.4;
  margin-bottom: 4px;
}

.hccf-card-body__comments-title {
  color: #6c747d;
  text-align: left;
  margin: 5px 0 0 0;
}

.hccf-card-body__comments-body:not(last-child) {
  margin-bottom: 10px;
}


.hccf-card-body__tripinfo-preview {
  display: none;
}

.hccf-card-body__attachments-preview--visible,
.hccf-card-body__tripinfo-preview--visible {
  display: block !important;
  background: #fff;
  padding: 0;
  border-radius: 2px;
  margin-bottom: 5px;
  background-color: #fff;
  box-shadow: 0px 1px 3px 2px #ccc;
  font-size: 85%;
  line-height: 2;
  text-align: left;
  letter-spacing: -0.34px;
  font-weight: 600;
}

.hccf-card-body__attachments-preview--visible > h3,
.hccf-card-body__tripinfo-preview--visible > h3 {
  background: #f7f9fa;
  padding: 17px 0;
  margin: 0;
  box-shadow: 3px 6px 20px -10px #000;
  font-size: 1.17em;
  font-weight: bold;
}

.hccf-card-body__attachments-row,
.hccf-card-body__tripinfo-row {
  display: table;
  width: 100%;
  border-bottom: 1px solid #eaebec;
}

.hccf-card-body__attachments-row > div,
.hccf-card-body__tripinfo-row > div > div {
    display: table-cell;
    padding: 15px 0;
    vertical-align: middle;
    text-align: left;
    line-height: 1;
}

.hccf-card-body__attachments-row > div:first-child,
.hccf-card-body__tripinfo-row > div:first-child {
  width: 50px;
  padding: 15px;
  text-align: center;
}

.hccf-card-body__attachments-row > div h3 {
  font-weight: normal;
  margin: 0;
  line-height: 19px;
  font-size: 1.17em;
}

.hccf-card-body__attachments-row > div p,
.hccf-card-body__tripinfo-row > div p {
  line-height: 14px;
}

.hccf-card-body__attachments-row > div img,
.hccf-card-body__tripinfo-row > div img {
  max-width: 40px;
  max-height: 40px;
}

.hccf-card-body__attachments-row > div p,
.hccf-card-body__tripinfo-row > div p {
  margin: 0;
}

.hccf-card-body__attachments-row > div span,
.hccf-card-body__tripinfo-row > div span {
  color: #9da2a8;
  font-size: 11px;
  font-weight: normal;
  line-height: 14px;
}

.hccf-card-body__attachments--close,
.hccf-card-body__tripinfo--close {
  margin: 0 15px;
  position: relative;
  top: 1px;
  text-decoration: none;
}

.hccf-card-body__attachments--close img,
.hccf-card-body__tripinfo--close img {
  width: 15px;
}

.hccf-card-attachments--visible,
.hccf-card-tripinfo--visible {
  display: none !important;
}

.hccf-card-body__tripinfo-summary,
.hccf-card-body__tripinfo-detail > * {
  padding-left: 15px;
}

.hccf-card-body__tripinfo-summary {
  padding-bottom: 5px;
}

.hccf-card-body__tripinfo-summary h3 {
  margin: 15px 0 0 0;
  line-height: 1.4;
}

.hccf-card-body__tripinfo-summary p {
  margin: 0;
  font-weight: normal;
  color: #9da2a8;
  line-height: 1;
}

.hccf-card-body__tripinfo-detail > div > div {
  vertical-align: top;
  padding: 5px 0;
}

.hccf-card-body__tripinfo-detail > div > div:first-child {
  vertical-align: middle;
}

.hccf-card-body__tripinfo-detail h3 {
  margin: 0;
}

.hccf-card-body__tripinfo-detail > h3 {
  background-color: #f5f5f5;
}

.hccf-card-body__tripinfo-detail > div > div:last-child {
  padding: 5px 0 5px 10px;
}

.hccf-card-body__tripinfo-detail > div > div:last-child p {
  font-weight: normal;
  color: #9da2a8;
}

.hccf-card-actions__item {
  height: auto;
}

.hccf-card-actions__item-link {
    font-size: 90%;
    line-height: 1.20;
}

.hccf-card-actions__item-link--primary {
   color: #fff;
   background: #157DB9;
   border: 1px solid #157DB9;
}
/* end - relative font-sizes*/

/*
  Boxer Styles
  Below are the two style blocks of Boxer which are interfering the HeroCard styles.
  Keeping them here temporarily to fix the UI issue in HeroCard.
  Will be removed once we rename all HeroCard classes differently.
*/

.hero-card .card-actions {
  margin: 8px -8px -8px -8px !important;
}

.convo-header div,
.convo-carousel div,
.card-header div,
.card-contacts div,
.card-receipient div,
.card-actions div {
  padding: 0 !important;
  margin: 0 !important;
}

.hccf-hero-cards-accordian .hccf-card-header__accordian-more,
.hccf-hero-cards-accordian .hccf-card-header__accordian-less {
    display: block;
    position: absolute;
    top:0;
    bottom: 0;
    right:15px;
    text-align: center;
}

.hccf-hero-cards-accordian .hccf-card-header__accordian-more::before,
.hccf-hero-cards-accordian .hccf-card-header__accordian-less::before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.hccf-hero-cards-accordian .hccf-card-header__accordian-more img,
.hccf-hero-cards-accordian .hccf-card-header__accordian-less img {
  display: inline-block;
  vertical-align: middle;
}

.hccf-hero-cards-accordian .hccf-card-header__accordian-less,
.hccf-hero-cards-accordian .hccf-card-actions,
.hccf-hero-cards-accordian .hccf-card-body {
    display: none;
}

.hccf-hero-cards-accordian .hccf-card-header {
    position: relative;
}

.open .hccf-row {
    display: block;
}

.hccf-accordian-expanded .hccf-card-header__accordian-more {
    display: none;
}
.hccf-accordian-expanded .hccf-card-header__accordian-less {
    display: block;
}

.hccf-hero-card--action-complete {
    background: #1270cd;
    color: #fff;
}

.hccf-hero-card--action-complete .hccf-card-header__meta-title,
.hccf-hero-card--action-complete .hccf-card-header__meta-subtitle {
    color: #fff;
}

.hccf-hero-card--action-complete .hccf-card-body__description {
    display: none;
}

.hccf-card-body__description {
  line-height: 1.3;
  padding-top: 0;
}

.hccf-hero-card--action-complete .hccf-card-actions div:not(:last-child){
    display: none;
}

.hccf-hero-card--action-complete .hccf-card-actions__item-link {
    color: #fff;
    border: 1px solid #fff;
}

/* .hccf-hero-card__action-complete-message {
  position: absolute;
  left: 0;
  bottom: 0px;
  padding: 22px 0 22px 10px;
} */

.hccf-hero-card__action-complete-message img {
    padding: 0 10px 0;
    vertical-align: text-top;
}

.hccf-bodyfield-addspace{
  padding-bottom: 10px;
}

.hccf-bodyfield-addspace::after{
  content: '';
  display: block;
  clear: both;
}

/*
 END- Boxer Styles
*/

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}


@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes slideOutRight {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
}

.slideOutRight {
  -webkit-animation-name: slideOutRight;
  animation-name: slideOutRight;
}

/* end- slideshow styles */


/* @media queries */

/* For desktop - medium devices */
@media only screen and (min-width: 768px) {
    
    body {
        font-size: 130%;
    }

    .hccf-card-header__avatar div {
      max-width: 80px;
    }
}


/* For desktop - large devices */
@media only screen and (min-width: 1024px) {
    body {
        font-size: 135%;
    }
}